* {
    text-align: center;
    padding: 0;
    box-sizing: border-box;



}

h1 {
    color: rgb(7, 7, 8);
    position: center;
    margin: top 30px;
    padding: -1px 2em 8px 50%;
    border: 30px solid blue;
    border-radius: 10px;

}



body {
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #7b7b9f;
    font-family: 'Mochiy Pop P One', sans-serif;
}

h2 {
    background-image: url(./assets/bg.jpg);
    background-color: #6e5c9d;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

h3 {
    background-color: #6e5c9d;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

img {
    margin-top: 20px;
}

button {
    background: #0066A2;
    color: white;
    border-style: outset;
    border-color: #0066A2;
    height: 50px;
    width: 100px;
    font: bold15px arial, sans-serif;
    text-shadow: none;
}